/* General Styles */
body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10;
    background-color: lightblue;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    ;
}

.beach-item.beach-1{
    background-size: cover;
   background-position: center;
}
.beach-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border: #007BFF;
}
.beach-item {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    border-color: #007BFF;
    background-color: lightskyblue;
        
}
.beach-details{
    background-color: hwb(211 70% 11%);
}
.nav-buttons {
    display: flex;
    gap: 5px;
    /* Space between buttons */
}

/* Container for vertical button layout */
.sidebar {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically */
    gap: 10px;
    /* Space between buttons */
    padding: 10px;
    /* Padding around the sidebar */
    background-color: #f8f9fa;
    /* Background color for sidebar */
    width: 200px;
    /* Width of the sidebar */
    height: 100vh;
    /* Full viewport height */
}

/* Styling for individual buttons */
.nav-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    /* Transparent background */
    color: #007bff;
    /* Button text color */
    border: 2px solid #007bff;
    /* Button border */
    border-radius: 8px;
    /* Adjust for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #007bff;
    color: white;
    /* Change text color on hover */
}

.nav-button:hover {
    background-color: #0056b3;
    /* Darker color on hover */
}
.nav-button:hover {
    background-color: #0056b3;
}
h1 {
    margin: 0;
}

.auth-container {
    display: flex;
    align-items: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-button,
.logout-button,
.back-button{
    background-color: hsl(74, 73%, 74%);;
    border: #007BFF;
}

.view-sources-button,
.comment-button,
.report-button {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(74, 73%, 74%);
    color: white;
    cursor: pointer;
}

.auth-button:hover,
.logout-button:hover,
.back-button:hover,
.view-sources-button:hover,
.comment-button:hover,
.report-button:hover {
    background-color: #218838;
}

/* Container Styles */
.container {
    padding: 20px;
}