.map-container {
    height: 100vh;
    /* Full viewport height */
    width: 100%;
    /* Full width */
    position: relative;
}

.map-title {
    text-align: center;
    margin: 20px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}